.list-item {
  max-width: 720px;
  width: 80vw;
  margin: 8px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.list-item .title {
  width: 100%;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 18px;
}

.title h5 {
  font-weight: 500;
}

.list-item .count {
  flex: 2;
  display: flex;
  width: 100%;
}

.list-item .count div {
  flex: 1;
  text-align: center;
}

.list-item .count p {
  font-size: 10px;
  color: rgb(117, 117, 117);
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.color-confirmed {
  color: rgba(200, 56, 13, 0.91);
}

.color-recovered {
  color: #178831;
}

.color-deaths {
  color: #282f36;
}

.country-list-actions {
  display: flex;
  padding: 0.5em 1em;
  flex-wrap: wrap;
}

.info {
  padding: 0.5em 1em;
}

@media screen and (max-width: 480px) {
  .list-item {
    flex-direction: column;
  }

  .list-item .count {
    padding-top: 0.5em;
  }

  .list-item .count div {
    text-align: left;
  }
}
