.stats-container {
  max-width: 720px;
  width: 90vw;
  margin: 16px auto;
}

.stats-title {
  text-align: left;
  font-size: 24px;
  padding: 8px 16px 0 16px;
  font-weight: 400;
}

.last-updated {
  color: #797676;
  font-size: 12px;
  padding-top: 0.25em;
}
