:root {
  --yellow: #ffa600;
  --black: #282f36;
  --green: #008744;
  --blue: #0057e7;
  --red: #d62d20;
  --white: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 54px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100vw;
  top: 0;
  background: #ffffff;
}

header div {
  padding: 0 16px;
  max-width: 980px;
  margin: 0 auto;
}

header h3 {
  line-height: 54px;
}

footer {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding-bottom: 32px;
}

.container {
  max-width: 980px;
  margin: 96px auto 48px auto;
}

.selector {
  max-width: 720px;
  width: 90vw;
  margin: 16px auto;
}

.selector label {
  padding-left: 0.8em;
}

.error {
  margin: 32px 16px;
}

.select {
  font-size: 1em;
  margin: 0.5em 1em 0;
  color: var(--black);
  max-width: 80vw;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
}

input.select {
  max-width: 50vw;
}

.select:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-top-color: var(--black);
  animation: spin linear 1.2s infinite;
  margin: 20px auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
